@import '../../assets/styles/vars';

.scroll-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: $text-color;
  color: $body-color;
  cursor: pointer;
  animation: ani .5s forwards;
  z-index: 999999999;
}

.scroll-up:hover {
  background-color:$white-color;
  color:$body-color;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

